* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.3%;
}

.reklama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2px 0;
  background-color: burlywood;
}

.reklama a {
  text-decoration: none;
  color: cadetblue;
  font-weight: 700;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 3.3%;
  background-color: cadetblue;
}

header .logo .dumalo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: burlywood;
  color: white;
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 1px solid whitesmoke;
  -webkit-box-shadow: 0 0 10px -2px whitesmoke;
          box-shadow: 0 0 10px -2px whitesmoke;
}

header .search {
  width: 300px;
}

header .search .searchniki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dbdbdb;
  width: 100%;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search .searchniki input {
  background-color: #dbdbdb;
  border: 0;
  outline: 0;
  padding-left: 10px;
  color: cadetblue;
  width: 100%;
  font-size: 16px;
}

header .search .searchniki i {
  color: white;
  padding: 8px;
  background-color: burlywood;
  -webkit-transition: .4s;
  transition: .4s;
}

header .search .searchniki i:hover {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

header .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

header .links a {
  color: burlywood;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: .4s;
  transition: .4s;
}

header .links a:hover {
  text-shadow: 0 0 10px white;
}

header .login a {
  text-decoration: none;
  color: burlywood;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

header .login a:hover {
  border: 1px solid burlywood;
  color: whitesmoke;
  text-shadow: 0 0 10px whitesmoke;
}

.showcase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 0;
}

.showcase .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 50px;
}

.showcase .container .card {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

.showcase .container .card p {
  position: absolute;
  bottom: 70px;
  left: 180px;
  padding: 5px 10px;
  color: cadetblue;
  background-color: burlywood;
  display: inline-block;
  border-radius: 5px;
}

.showcase .container .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: calc(100vh - 350px);
  padding: 30px;
}

.showcase .container .card .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: cadetblue;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
}

.showcase .container .card .button a {
  text-decoration: none;
  color: burlywood;
  font-size: 24px;
  font-weight: 600;
}
/*# sourceMappingURL=index.css.map */