* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  max-width: 1990px;
  width: 100%;
  margin: 0 auto;
}

.reklama {
  display: flex;
  justify-content: center;
  padding: 2px 0;
  background-color: burlywood;
}
.reklama a {
  text-decoration: none;
  color: cadetblue;
  font-weight: 700;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 15px 3.3%;
  background-color: cadetblue;
}
header .logo .dumalo {
  display: flex;
  background-color: burlywood;
  color: white;
  width: 65px;
  height: 65px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  cursor: pointer;
  border: 1px solid whitesmoke;
  box-shadow: 0 0 10px -2px whitesmoke;
}
header .search {
  width: 300px;
}
header .search .searchniki {
  display: flex;
  background-color: rgb(219, 219, 219);
  width: 100%;
  height: 30px;
  align-items: center;
}
header .search .searchniki input {
  background-color: rgb(219, 219, 219);
  border: 0;
  outline: 0;
  padding-left: 10px;
  color: cadetblue;
  width: 100%;
  font-size: 16px;
}
header .search .searchniki i {
  color: white;
  padding: 8px;
  background-color: burlywood;
  transition: 0.4s;
}
header .search .searchniki i:hover {
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
header .links {
  display: flex;
  gap: 12px;
}
header .links a {
  color: burlywood;
  text-decoration: none;
  font-size: 20px;
  transition: 0.4s;
}
header .links a:hover {
  text-shadow: 0 0 10px white;
}
header .login a {
  text-decoration: none;
  color: burlywood;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 30px;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  transition: 0.4s;
}
header .login a:hover {
  border: 1px solid burlywood;
  color: whitesmoke;
  text-shadow: 0 0 10px whitesmoke;
}
header .login a:active {
  opacity: 0.5;
}

.showcase {
  display: flex;
  width: 100%;
}
.showcase .container-showcase {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  padding-top: 100px;
}
.showcase .container-showcase .card {
  width: 100%;
  border-radius: 10px;
  transition: all 0.4s;
  position: relative;
  text-align: center;
  z-index: 10;
}
.showcase .container-showcase .card p {
  position: absolute;
  bottom: 70px;
  left: 210px;
  padding: 5px 10px;
  color: cadetblue;
  background-color: burlywood;
  display: inline-block;
  border-radius: 5px;
}
.showcase .container-showcase .card img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 400px;
}
.showcase .container-showcase .card a {
  padding: 10px 155px;
  background-color: cadetblue;
  text-decoration: none;
  color: burlywood;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.5s;
}
.showcase .container-showcase .card a:hover {
  background-color: burlywood;
  color: white;
  text-decoration: none;
  transform: translateY(-2px);
}
.showcase .container-showcase .card a:active {
  transform: translateY(-1px);
  opacity: 0.5;
}

.container-sidebar {
  display: none;
}
.container-sidebar .sidebar {
  width: 30%;
  background-color: burlywood;
  padding: 20px 40px;
  position: fixed;
  top: 10px;
  left: 0;
  z-index: 100;
  transition: all 0.4s;
}

@media (max-width: 1024px) {
  #Menu .container-showcase .card img {
    width: 250px;
    height: 250px;
  }
  #Menu .container-showcase .card a {
    padding: 5px 70px;
  }
  #Menu .container-showcase .card p {
    bottom: 50px;
    left: 150px;
  }
}
@media (max-width: 768px) {
  header {
    display: none;
  }
  .container-sidebar {
    display: block;
  }
}/*# sourceMappingURL=index.css.map */